core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv/
1_notities_relationships.txt
2_notities_migrations.txt
3_notities_admin_file.txt
4_notities_add_users_and_posts.txt
gevarieerde_notities.txt
5_notities_methods_in_models.txt
6_notities_database_debug.txt
7_notities_views.txt
8_notities_views_explanation.txt
9_notities_explanation_URLs.txt
10_sum_up_views.txt
11_notities_adm_pan_PU.txt
12_notities_fixtures.txt
blog/fixtures/
13_notities_django_templates.txt
14_notities_notation.txt